
/* common */
body{
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family: 'Noto Sans Japanese', "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, 'Roboto', serif;*/
	font-weight: 100 !important;
	position: relative;
}

main{
	text-align: center;
}

.mdl-layout-title{
	font-family: 'Noto Sans Japanese', "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, 'Roboto', serif;
	font-weight: 100;
}

h1, h2{
	font-family: 'Noto Sans Japanese', "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, 'Roboto', serif;
	font-weight: 100;
}

p{
	font-weight: 100;
}

.mdl-layout__container{
	position: static;
}

.mdl-layout{
	position: relative;
	height: auto;
}

.demo-layout-transparent {
  background: url('../images/yugure.jpg') center / cover;
  background-attachment:fixed;
  /*opacity: 0.85;*/
}

.mdl-layout__drawer{
	position: fixed;
	z-index: 99999;
}

.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background: #07AFFF;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-layout__drawer.is-visible~.mdl-layout__obfuscator{
	position: fixed;
	z-index: 99998;
}

div#content_description {
    margin: 80px auto 50px;
}

.mdl-layout__content{
	color: white;
}

#content_main{
	width: 80%;
	margin: 10px auto;
}
/* saved_keywords_menu */
ul#saved_keywords_list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#saved_keywords_list li {
    display: table;
}

#saved_keywords_list a{
	display: table-cell;
    width: 155px;
    padding: 10px 20px;
    vertical-align: baseline;
}

#saved_keywords_list button{
	display: table-cell;
	width: 20%;
}

/* searchArea */
#search_input_area{
	background: rgba(255, 255, 255, 0.5);
	margin: 0px auto;
    width: 100%;
    max-width: 450px;
    /* margin: 30px auto; */
    /* margin-top: 85px; */
}

#search_input_area form{
	/*margin-top: 82px;*/
}

#search_input_area i.material-icons {
    vertical-align: middle;
    color: #ffffff;
}
.mdl-textfield__label{
	color: #484848;
}

.mdl-textfield__input{
	border-bottom: 1px solid rgba(0, 0, 0, .3);
	color: #000;
	font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* trendArea */
#trend_area{
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

#trend_area .mdl-card__title {
	background: url('../images/kosumosu.jpg') center / cover;
	height: 200px;
	color: #000;
    -webkid-justify-content: flex-start;
    justify-content: flex-start;
	padding: 3% 5%;
}

#trend_area .mdl-card__title-text{
	font-weight: 100;
	font-size: 32px;
}

#trend_area .mdl-card__supporting-text{
	color: #000;
	font-size: 15px;
	text-align: left;
	padding-left: 2px;
	padding-top: 10px;
}

#trend_display_wrap{
	background: #fff;
	position: relative;
}

#trend_display_area {
    width: 100%;
    height: 252px;
    color: #000;
    overflow: auto;
    font-size: 12px;
    display: flex;
    -webkid-align-items: center;
    align-items: center;
    -webkid-flex-direction: column;
    flex-direction: column;
    -webkid-justify-content: center;
    justify-content: center;
    padding: 4% 7%;
    flex-wrap: wrap;
}

#trend_display_area .trend_item {
    cursor: pointer;
}

#trend_display_area div{
	text-align: left;
}

#trend_display_area h2 {
    font-size: 30px;
    text-align: left;
    margin: 0 auto;
    border-bottom: 1px solid #2D2D2D;
    padding-bottom: 15px;
    display: inline-block;
    width: 90%;
}

#trend_display_wrap .mdl-spinner{
	display: none;
	position: absolute;
	left: 46%;
	top: 115px;
}


/* wordDisplayArea */
#word_display_wrap{
	position: relative;
	display: none;
}

#word_save_button{
	position: absolute;
	right: 25;
	top: -15;
}

#word_display_area .searched{
	color: #000;
}

#word_display_area{
	background: #fff;
	padding: 30px;
	text-align: left;
}

#word_display_area ul{
	padding-left: 20px;
	margin: 0;
	color: #002BFF;
}

#word_display_area ul li {
	position: relative;
	list-style: none;
	font-weight: 300;
	font-size: 13px;
	cursor: pointer;
}

#word_display_area ul li::after {
	display: block;
	content: '';
	position: absolute;
	top: 9px;
	left: -18px;
	width: 6px;
	height: 6px;
	border-right: 1px solid #389AFF;
	border-bottom: 1px solid #389AFF;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#word_display_area ul li.last_node{
	color: #555;
	cursor: auto;
}

#word_display_area ul li.last_node::after {
	display: none;
}

/* スマホ用CSS */

@media screen and (max-width: 767px) {

	#content_main{
		width: 95%;
	}
	h1{
 		font-size: 24px;
 	}

	p{
 		font-size: 12px;
 	}

 	div#content_description {
 		margin: 60px 0 30px;
    	padding: 0 10px;
    }

 	#search_input_area{
 		width: 90%;
 		padding: 10px 20px 0;
    	box-sizing: border-box;
    	-webkit-box-sizing: border-box;
 	}

 	#word_display_area{
 		padding: 30px 15px 10px;
 	}

 	#word_display_area ul li{
 		border-bottom: 1px solid #999;
    	padding: 5px;
 	}

 	#word_display_area ul li::after{
 		display: none;
 	}

 	#word_display_area ul li:last-child{
 		border-bottom: none;
 	}

 	#word_display_area ul{
 		padding-left: 5px;
 	}

 	.mdl-card{
 		min-height: 30px;
 	}

 	div.mdl-grid{
 		margin: 0;
 	}

 	#word_save_button{
 		top: -5px;
 	}

 	#trend_area .mdl-card__title{
 		height: 100px;
 	}
 	#trend_display_area{
 		height: auto;
 	}

 	#trend_display_area h2{
 		font-size: 26px;
 		line-height: 40px;
 		border-bottom: none;
 	}
 	#trend_display_area .trend_item {
	    width: 100%;
	    border-bottom: 1px solid #888;
	    padding: 5px;
	    box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	}
}
